@import "tailwindcss";

:root {
  --background: #ffffffe1; /* Force white background */
  --foreground: #171717; /* Set text color to dark */
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-nunito), Arial, Helvetica, sans-serif;
}
html {
  scroll-behavior: smooth;
}
@keyframes bounce {
  0%,
  80%,
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}
